:root {

  --primary: #052b69;
  --primary-light: #f05507;
  --outline-light: #fffcfa;
}


body {
  background-color: var(--primary);
}


.hero {
  ;
}

.hero_header {
  font-family: "Roboto Thin", sans-serif;
  font-weight: 900;
  color: var(--primary-light);
  border: 2px solid var(--outline-light);
  display: inline-block;
  padding: 8px;
 }

.hero_description {
  color: var(--primary-light);
  padding : 10px;
  border: 2px solid var(--outline-light);
  display: inline-block;
  font-weight: bold;
}